# Maven / Java
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Node / Angular
/angular-auth/node_modules/
/angular-auth/dist/
/angular-auth/out/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
/.idea
/.vscode
*.iml
.env
# Misc
HELP.md
